$primary: #006699;

h2 {
	color: $primary;
}
.filter-container {
	background: #ebebea;
	&.hidden {
		background: none;
		min-height: 40px;
	}
	.filter-refine-wrapper{
		position: absolute;
		left: 50%;
		.btn-refine {
			display: inline-block;
			position: relative;
			line-height: 20px;
			padding: 10px 20px;
			background: #d8d7d5;
			position: relative;
			left: -50%;
		}
		span {
			font-size: 0.875rem;
			color: #4d4e53;
			font-weight: 700;
		}
	}
	.filter-dropdowns-wrapper {
		display: flex;
		.filter-select-wrapper {
			flex: 1;
			margin: 10px auto;
			padding: 50px 50px 30px 50px;
			select {
				color: rgb(77, 78, 83);
				font-size: 1rem;
				line-height: 24px;
				padding: 10px 40px 10px 18px;
				border: none;
				outline: 0;
				width: 100%;
			}
		}
	}
}


